<!DOCTYPE html>

<html ng-app="tooltip">

<head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>-->
    <script src="angular.min.js"></script>
    <script>
        var tooltipModule = angular.module('tooltip', []);
        // tooltipModule.controller('UserController', $scope => $scope.info = {
        //     "name": "Benajmin",
        //     "age": 30
        // });
        tooltipModule.controller('UserController', function($scope) {
            $scope.info = {
                "name": "Benjamin",
                "age": 30
            }
            $scope.update = function() {
                $scope.info = {
                    "name": "Mom",
                    "age": 63
                }
            }
        });
    </script>
    <title>Testing Angular</title>
</head>

<body>
    <div ng-controller="UserController">{{ info.name }}: {{ info.age }}
        <button ng-click="info = {'name': 'Sean', 'age': 29}">Sean</button>
        <button ng-click="update()">Mom</button>
    </div>
</body>

</html>